// COLORS
// $primary-color: #21D4FD;
// $secondary-color: rgb(33, 118, 255); // bleu degrade - peut-être

// colors adjust the gradient color

// primary color
$primary-color: #e387d3;

// secondary color
$secondary-color: #23e4b4;

$white-color: #191b20;

$dark-grey: #ffff;

$dark-blue-text: #ffff; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;