#hero {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  border-bottom: 0px;
  background: $white-color;
  font-weight: 400;
  color: #1c1c1c;
  padding: 0rem 5.6rem;
  margin-bottom: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  border-radius: inherit;

  // background: url("/assets/images/background.jpg");
  // background-position: center;
  // background-size: cover;
  

$wordsCount: 6;
$lineHeight: 1.1em;
$animationTime: $wordsCount + 6;
$textTag: b;

.textChange {
  display: flex;
  justify-content: center;
  line-height: calc(1em * 1.09) ;
  position: relative;

  @include respond(tab-land) {
    flex-direction: column;
    span {
      margin-bottom: 5px;
    }
    b {
      margin-right: 10px;
      text-align: center;
    }
  }
  @include respond(tab-port) {
    flex-direction: column;
    span {
      margin-bottom: 5px;
    }
    b {
      text-align: center;
    }
  }
  @include respond(phone) {
    flex-direction: column;
    span {
      margin-bottom: 5px;
    }
    b {
      text-align: center;
    }
  }
  @include respond(phone-xs) {
    flex-direction: column;
    span {
      margin-bottom: 5px;
    }
    b {
      text-align: center;
    }
  }
  
  &__container {
    display: inline-block;
    height: $lineHeight;
    overflow: hidden;
    transform: translateX(1%);
    @include respond(tab-land) {
      margin-left: -7px;
    }
  }
  
  &__sprite {
    text-align: center;
    transform: translateY(0px);
    
    animation: changeWord $animationTime + s steps($wordsCount) infinite;

    @include respond(tab-land) {
      margin: 0;
    }
    @include respond(tab-port) {
      margin: 0;
    }
    @include respond(phone) {
      margin: 0;
    }
    @include respond(phone-xs) {
      margin: 0;
    }
  }
  
  #{$textTag} {
    font-weight: initial;
    display: block;
    line-height: $lineHeight;
   
    animation: blinkWord ($animationTime / $wordsCount) + s ease infinite;
    opacity: 0;
    transform-origin: top left;
  }
}

@keyframes blinkWord {
  to {
    opacity: 1;
  }
}
@keyframes changeWord {
  to {transform: translateY(- $wordsCount * $lineHeight);}
}

  @include respond(phone) {
    padding: 0rem $default-font-size;
  }

  .hero-title {
    font-size: 5.6rem;
    font-weight: 700;
    margin-bottom: 3.2rem;
    text-align: left;

    @include respond(tab-land) {
      font-size: 4rem;
    }
    @include respond(tab-port) {
      font-size: 3.6rem;
      text-align: center;
    }
    @include respond(phone) {
      font-size: 3.5rem;
      line-height: 1.5;
    }
    @include respond(phone-xs) {
      font-size: 2.8rem;
    }
  }

  .hero-cta {
    display: flex;

    @include respond(tab-port) {
      justify-content: center;
    }

    & a {
      font-size: 2.4rem;

      @include respond(phone) {
        font-size: 2rem;
      }
    }
  }
}